.info{
    position: absolute;
    top: 35px;
    left: 20px;
    right: 20px;
}
.block{
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    border: solid;
    display: inline-block;
}

h4,form{
    margin-left: 50px;
}
